<!DOCTYPE html>
<html lang="ja">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FashionablyLate</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BIZ+UDMincho&family=Inika:wght@400;700&family=Noto+Sans+Hebrew:wght@100..900&display=swap" />
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/thanks.css' %}">
</head>
<body>
    <div class="thanks">
        <div class="back-logo">Thank you</div>
        <div class="thanks-item">
            <p class="thanks-message">お問い合わせありがとうございました</p>
            <div class="thanks-button">
                <a class="thanks-button__link" href="{% url 'core:top' %}">HOME</a>
            </div>
        </div>
    </div>
</body>
</html>